@font-face {
  font-family: "iconfont"; /* Project id 394055 */
  src: url('iconfont.woff2?t=1723457113693') format('woff2'),
       url('iconfont.woff?t=1723457113693') format('woff'),
       url('iconfont.ttf?t=1723457113693') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#pop_ad{
    display: none;
}


        #container {
            width: 500px;
            height: 820px;
            margin: 0 auto;
        }
        div.search {padding: 30px 0;}

        form {
            position: relative;
            width: 42px;
            margin: 0 auto;
        }

        input, button {
            border: none !important;
            outline: none !important;
        }

        input {
            width: 100%;
            height: 42px;
            padding-left: 13px;
        }

        button {
            height: 42px;
            width: 42px;
            cursor: pointer;
        }

        .bar8 form {
            height: 42px;
          /*      display: none;*/
        }
        .bar8 input {
            width: 0;
            padding: 0 42px 0 15px;
            border-bottom: 2px solid transparent;
            background: transparent;
            transition: .3s linear;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
                background-color: #f5f5f500 !important;

        }
        .bar8 input:focus {
            width: 200px;
            z-index: 1;
                background-color: #eee !important;
            border-radius: 100px;
                -webkit-box-sizing: content-box;
        }
        .bar8 button {
            background: #683B4D;
            top: 0;
            right: 0;
                position: absolute;
        }
        .bar8 button:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            color: #F9F0DA;
        }


.qijishow-search-result{
    width: 235px;
    max-height: 200px;
    text-overflow: ellipsis;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    margin-top: 20px;
    position: fixed;
    margin-left: -211px;
    background: rgb(255 255 255);
    box-shadow: 0 16px 14px -16px rgb(0 0 0 / 38%);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(232 232 232);
    line-height: 2.7;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.qijishow-search-input{
    float: right;
    width: 200px;
    margin-right: 105px;
    border-radius: 20px;
}
.qijishow-search-result a {
    display: block;
    font-size: 12px;
    color: #828282 !important;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.qijishow-search-result a:hover{
     font-size: 14px;
    color: #0dc69c  !important;
    font-weight: 500;
  }

.icon-hongbao1:before {
  content: "\e66b";
}
.icon-hongbao:before {
  content: "\e615";
}

.icon-hongbao5:before {
  content: "\e600";
}
.icon-xunlei:before {
  content: "\e66a";
}

.icon-a-3xshangxin:before {
  content: "\e669";
}

.icon-shangxin:before {
  content: "\e617";
}

.icon-huobao1:before {
  content: "\e627";
}

.icon-huobao:before {
  content: "\e625";
}

.icon-xiaoyang:before {
  content: "\e660";
}

.icon-tools:before {
  content: "\e661";
}

.icon-color9:before {
  content: "\e665";
}

.icon-zhiyuan:before {
  content: "\e666";
}

.icon-meihua:before {
  content: "\e667";
}

.icon-time:before {
  content: "\e668";
}

.icon-a-7logo2:before {
  content: "\e65e";
}

.icon-yinmh:before {
  content: "\e65f";
}

.icon-a-3xlianjie:before {
  content: "\e65d";
}

.icon-zhedie:before {
  content: "\e65c";
}

.icon-a-3xlianjieqi:before {
  content: "\e65b";
}

.icon-color3:before {
  content: "\e653";
}

.icon-color4:before {
  content: "\e654";
}

.icon-color2:before {
  content: "\e655";
}

.icon-color1:before {
  content: "\e656";
}

.icon-color8:before {
  content: "\e657";
}

.icon-color5:before {
  content: "\e658";
}

.icon-color7:before {
  content: "\e659";
}

.icon-color6:before {
  content: "\e65a";
}

.icon-color:before {
  content: "\e652";
}

.icon-huiyuanquanyi:before {
  content: "\e739";
}

.icon-LearningCenter:before {
  content: "\e62a";
}

.icon-a-99:before {
  content: "\e651";
}

.icon-beta:before {
  content: "\e650";
}

.icon-xingzhuangjiehe:before {
  content: "\e64f";
}

.icon-xingzhuang2:before {
  content: "\e64e";
}

.icon-xingzhuang:before {
  content: "\e64d";
}

.icon-bianzu:before {
  content: "\e64c";
}

.icon-nainiuyun:before {
  content: "\e64a";
}

.icon-nainiu:before {
  content: "\e649";
}

.icon-xingzhuangjiehe3x:before {
  content: "\e648";
}

.icon-background_logo:before {
  content: "\e647";
}

.icon-ping:before {
  content: "\e644";
}

.icon-weix:before {
  content: "\e645";
}

.icon-anz:before {
  content: "\e646";
}

.icon-jianpan:before {
  content: "\e643";
}

.icon-qiepian21x:before {
  content: "\e63d";
}

.icon-qiepian3beifen1x:before {
  content: "\e63e";
}

.icon-qiepian31x:before {
  content: "\e63f";
}

.icon-qiepian1x:before {
  content: "\e641";
}

.icon-yun:before {
  content: "\e6df";
}

.icon-QX-baiduyun:before {
  content: "\e791";
}

.icon-QX-tianyiyun:before {
  content: "\e79e";
}

.icon-zhuyi:before {
  content: "\e642";
}

.icon-liuyan:before {
  content: "\e623";
}

.icon-GroupCopy6:before {
  content: "\e63a";
}

.icon-sousuo:before {
  content: "\e662";
}

.icon-liuyanbt:before {
  content: "\e623b";
}

.icon-store101:before {
  content: "\e640";
}

.icon-liwuhe:before {
  content: "\e639";
}

.icon-gjux:before {
  content: "\e637";
}

.icon-liwu:before {
  content: "\e638";
}

.icon-GroupCopy:before {
  content: "\e62b";
}

.icon-Group:before {
  content: "\e62c";
}

.icon-GroupCopy1:before {
  content: "\e62d";
}

.icon-Group1:before {
  content: "\e62e";
}

.icon-GroupCopy2:before {
  content: "\e62f";
}

.icon-GroupCopy3:before {
  content: "\e630";
}

.icon-Group2:before {
  content: "\e631";
}

.icon-Group3:before {
  content: "\e632";
}

.icon-GroupCopy4:before {
  content: "\e633";
}

.icon-Group4:before {
  content: "\e634";
}

.icon-GroupCopy5:before {
  content: "\e635";
}

.icon-Group5:before {
  content: "\e636";
}

.icon-_huaban:before {
  content: "\e624";
}

.icon-liuyan1:before {
  content: "\e6234";
}

.icon-qijixiulogo2:before {
  content: "\e620";
}

.icon-qijishow1:before {
  content: "\e610";
}

.icon-qijishow2:before {
  content: "\e616";
}

.icon-qijishow2-copy:before {
  content: "\e8ad";
}

.icon-qijishow2-copy-copy:before {
  content: "\e8ae";
}

.icon-qijishow2-copy-copy-copy:before {
  content: "\e8af";
}

.icon-qijishow2-copy-copy-copy-copy:before {
  content: "\e8b0";
}

.icon-hanhua:before {
  content: "\e60f";
}

.icon-baiduyunpan:before {
  content: "\e628";
}

.icon-github:before {
  content: "\e689";
}

.icon-shijian:before {
  content: "\e6ca";
}

.icon-wechat-copy:before {
  content: "\e673";
}

.icon-qqqun:before {
  content: "\e8ac";
}

.icon-shubiaodianji:before {
  content: "\e664";
}

.icon-qijishow:before {
  content: "\e60e";
}

.icon-weixin:before {
  content: "\e60d";
}

.icon-qijixiulogo:before {
  content: "\e60c";
}

.icon-xinlangweibo:before {
  content: "\e687";
}

.icon-pingguo:before {
  content: "\e60b";
}

.icon-xingzhuang5:before {
  content: "\e663";
}

.icon-win:before {
  content: "\e64b";
}

